body {
  margin: 0; /* Asegura que no haya margen alrededor del cuerpo */
  padding: 0; /* Asegura que no haya relleno alrededor del cuerpo */
  background-color: #915f1e6e; /* Color marrón claro pastel */
}

  
.container-fluid {
  position: fixed; /* Fijar la posición */
  top: 0; /* Desde la parte superior de la ventana */
  left: 0; /* Desde el borde izquierdo de la ventana */
  width: 100%; /* Ancho completo */
  height: 100%; /* Altura completa */
  margin: 0; /* Sin margen */
  padding: 20px; /* Relleno interno */
  background-color: #915f1e6e; /* Color crema claro */
  border-radius: 10px; /* Bordes redondeados */
}

  .card-body{
    background-color: #90c90d41;
    
  }
  .table {
    margin-top: 20px;
    border-radius: 10px;
    opacity: 0; /* Inicia con opacidad 0 para que no sea visible al principio */
    transform: translateY(50px); /* Mueve la tabla hacia abajo 50px al inicio */
    transition: opacity 0.5s ease, transform 0.5s ease; /* Agrega una transición suave */
  }
  
  .table.show {
    opacity: 1; /* Hace la tabla visible */
    transform: translateY(0); /* Restaura la posición normal */
  }
  
  @media (max-width: 767px) {
    .table {
      font-size: 12px;
    }
  }
  
  .planilla-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* Alinea verticalmente */
    height: 100vh; /* Esto asegura que la planilla ocupe toda la altura de la ventana */
  }
  
  .planilla-table {
    width: 100%;
    border-collapse: collapse;
    background-color: #f0ce5e48;
    margin-bottom: 20px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1); /* Sombra para un efecto más estético */
  }
  
  .planilla-table th,
  .planilla-table td {
    border: 1px solid #a07d09;
    background-color: #45a0491e;
    padding: 12px; /* Mayor espacio entre el texto y el borde */
    text-align: center; /* Centra el contenido de las celdas */
  }
  
  .planilla-table th {
    background-color: #d4a422be; /* Color de fondo del encabezado */
    color: #fff; /* Color del texto */
  }
  
  .total-container {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.911); /* Fondo semitransparente negro */
    color: #fff; /* Color de texto blanco */
    padding: 10px;
    text-align: center;
    z-index: 1000; /* Asegura que esté por encima de otros elementos */
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .info-container {
    display: flex;
    justify-content: space-around;
    width: 100%;
  }
  
  .info-item {
    margin: 0 10px;
  }
  
  .info-item p {
    font-size: 14px;
    margin-bottom: 5px;
  }
  
  .btn-light {
    background-color: #2e6296;
    color: #495057;
    padding: 8px 16px; /* Espaciado interno */
    border: 1px solid #ccc; /* Borde del botón */
    border-radius: 5px; /* Bordes redondeados */
    transition: background-color 0.3s ease; /* Transición suave del color de fondo */
  }
  
  .btn-light:hover {
    background-color: #dae0e5; /* Color de fondo suave al pasar el mouse */
  }
  
  .fixed-bottom {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8); /* Fondo semitransparente negro */
    color: #fff; /* Color de texto blanco */
    border-top: 1px solid #dee2e6;
    padding: 10px;
    z-index: 1000; /* Asegura que esté por encima de otros elementos */
  }
  
  .fixed-bottom .btn-danger {
    margin-left: auto;
  }
  
  .material-icons {
    font-size: 13px;
    vertical-align: middle;
  }
  .btn {
    /* Estilos generales del botón */
    background-color: #92900a; /* Color de fondo por defecto */
    color: #ffffff; /* Color del texto por defecto */
    padding: 5px 10px; /* Espacio interno del botón reducido */
    border: none; /* Sin borde */
    border-radius: 5px; /* Bordes redondeados */
    text-align: center; /* Texto centrado */
    text-decoration: none; /* Sin subrayado */
    display: inline-block; /* Mostrar como un elemento en línea */
    font-size: 12px; /* Tamaño de la fuente reducido */
    margin: 1px; /* Margen exterior reducido */
    cursor: pointer; /* Cursor al pasar por encima */
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2); /* Sombra debajo del botón */
    transition-duration: 0.4s; /* Duración de la transición */
  }
  
  .btn:hover {
    background-color: #45a049; /* Cambio de color al pasar el cursor */
    color: #ffffff; /* Cambio de color del texto al pasar el cursor */
  }
  
  .btn:active {
    background-color: #3e8e41; /* Color al presionar el botón */
  }

  
  /* Estilos personalizados para los botones dentro de productos-barra-abajo */
.productos-barra-abajo .btn-custom {
  background-color: #cf223fb9; /* Cambiar el color de fondo */
  color: #ffffff; /* Cambiar el color del texto */
  border: 3px solid #ff99005d; /* Cambiar el borde */
  border-radius: 5px; /* Agregar bordes redondeados */
  padding: 5px 10px; /* Ajustar el relleno */
  margin-right: 5px; /* Ajustar el margen derecho */
}

.productos-barra-abajo .btn-custom:hover {
  background-color: #1d170a2c; /* Cambiar el color de fondo al pasar el mouse */
  border-color: #ffcc66; /* Cambiar el color del borde al pasar el mouse */
}
/* styles.css */

/* Estilo básico de la barra de título */
.title-bar {
  background-color: #333; /* Color de fondo predeterminado */
  height: 30px; /* Altura de la barra de título */
  -webkit-app-region: drag; /* Permite arrastrar la ventana haciendo clic en la barra de título */
}

/* Efecto de iluminación intermitente */
@keyframes shine {
  0% {
    box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.7); /* Sombra inicial */
  }
  50% {
    box-shadow: 0 0 20px 10px rgba(255, 255, 255, 0.9); /* Sombra más intensa */
  }
  100% {
    box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.7); /* Vuelve al estado inicial */
  }
}

.title-bar {
  background-color: rgba(128, 128, 128, 0.5); /* Gris transparente */
  -webkit-app-region: drag; /* Permite arrastrar la ventana al hacer clic en la barra de título */
}